@define-color bg #282828;
@define-color fg #EBDBB2;

* {
  font-family: JetBrainsMonoNerdFontMono;
  font-weight: bold;
  font-size: 15px;

  background: @bg;
  color: @fg;

  border-radius: 0;
  border-width: 3px;
  border-style: solid;
  border-color: @fg;

  box-shadow: none;
  text-shadow: none;
  transition: none;
}

/* Notifications */

.notification-row,
.notification,
.notification-content,
.notification-action {
  background: @bg;
  color: @fg;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.notification-row {
  margin: 20px;
}

.notification-content {
  padding: 7px;
}

/* Close button */

.close-button {
  background: @bg;
  color: @fg;
  margin-top: 9px;
  margin-right: 5px;
  padding: 0;
  border-radius: 0;
}

/* Explicitly kill hover/focus behavior */

.notification-row:hover,
.notification-row:focus,
.close-button:hover,
.widget-title > button:hover {
  background: @bg;
  color: @fg;
  box-shadow: none;
  border-radius: 0;
}

/* Text blocks */

.summary,
.body,
.time {
  color: @fg;
}

.summary {
  font-size: 13px;
  padding-top: 7px;
}

.body {
  font-size: 12px;
}

.time {
  font-size: 11px;
  margin-right: 40px;
}

/* Control center */

.control-center,
.control-center-list,
.control-center-list-placeholder,
.floating-notifications,
.blank-window {
  background: @bg;
  color: @fg;
  border-radius: 0;
  box-shadow: none;
}

.control-center-list-placeholder {
  opacity: 1; /* no dimming */
}

/* Widgets */

.widget-title {
  color: @fg;
  padding: 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
}

.widget-title > button {
  background: @bg;
  color: @fg;
  padding: 10px;
  font-size: 1rem;
  border-radius: 0;
  box-shadow: none;
}

.widget-label {
  margin: 10px;
}

.widget-label > label {
  color: @fg;
  font-size: 1rem;
}

.widget-mpris,
.widget-mpris-player,
.widget-mpris > box > button {
  background: @bg;
  color: @fg;
  margin: 10px;
  padding: 5px;
  border-radius: 0;
  box-shadow: none;
}

