 
@define-color cc-bg #32302f;
@define-color noti-border-color #32302f;
@define-color noti-bg #3c3836;
@define-color noti-bg-darker #3c3836;
@define-color noti-bg-hover rgb(27, 27, 43);
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color text-color #f9f5d7;
@define-color text-color-disabled #bdae93;
@define-color bg-selected #fabd2f;
 
* {
    font-family: montserrat;
    font-weight: bold;
	  font-size: 14px
}
 
.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @noti-bg-darker
}
 
.notification-row {
    outline: none;
    margin: 20px;
    padding: 0;
}
 
.notification {
    background: transparent;
    margin: 0px;
}
 
.notification-content {
    background: @cc-bg;
    padding: 7px;
    border-radius: 0px;
    border: 3px solid #FABD2F;
    margin: 0;
}
 
.close-button {
    background: #d79921;
    color: @cc-bg;
    text-shadow: none;
    padding: 0;
    border-radius: 0px;
    margin-top: 5px;
    margin-right: 5px;
}
 
.close-button:hover {
    box-shadow: none;
    background: #fabd2f;
    transition: all .15s ease-in-out;
    border: none
}
 
.notification-action {
    color: #ebdbb2;
    border: 3px solid #FABD2F;
    border-top: none;
    border-radius: 0px;
    background: #32302F;
}
 
.notification-default-action:hover,
.notification-action:hover {
    color: #ebdbb2;
    background: #32302F;
}
 
.summary {
	padding-top: 7px;
    font-size: 13px;
    color: #ebdbb2;
}
 
.time {
    font-size: 11px;
    color: #d79921;
    margin-right: 24px
}
 
.body {
    font-size: 12px;
    color: #ebdbb2;
}
 
.control-center {
    background: @cc-bg;
    border: 3px solid #FABD2F;
    border-radius: 15px;
}
 
.control-center-list {
    background: transparent
}
 
.control-center-list-placeholder {
    opacity: .5
}
 
.floating-notifications {
    background: transparent
}
 
.blank-window {
    background: alpha(black, 0.1)
}
 
.widget-title {
    color: #f9f5d7;
    background: @noti-bg-darker;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
    border-radius: 15px;
}
 
.widget-title>button {
    font-size: 1rem;
    color: @text-color;
    text-shadow: none;
    background: @noti-bg;
    box-shadow: none;
    border-radius: 15px;
}
 
.widget-title>button:hover {
    background: #d79921;
    color: @cc-bg;
}
 
.widget-dnd {
    background: @noti-bg-darker;
    padding: 5px 10px;
    margin: 5px 10px 10px 10px;
    border-radius: 15px;
    font-size: large;
    color: #f2e5bc;
}
 
.widget-dnd>switch {
    border-radius: 15px;
    background: #665c54;
}
 
.widget-dnd>switch:checked {
    background: #d79921;
    border: 1px solid #d79921;
}
 
.widget-dnd>switch slider {
    background: @cc-bg;
    border-radius: 15px
}
 
.widget-dnd>switch:checked slider {
    background: @cc-bg;
    border-radius: 15px
}
 
.widget-label {
    margin: 10px 10px 5px 10px;
}
 
.widget-label>label {
    font-size: 1rem;
    color: @text-color;
}
 
.widget-mpris {
    color: @text-color;
    background: @noti-bg-darker;
    padding: 5px 10px 0px 0px;
    margin: 5px 10px 5px 10px;
    border-radius: 15px;
}
 
.widget-mpris > box > button {
    border-radius: 15px;
}
 
.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem
}
 
.widget-mpris-subtitle {
    font-size: 1.1rem
}
 
.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    margin: 5px 10px 10px 10px;
    border-radius: 15px;
    background: @noti-bg-darker;
}
 
.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: @cc-bg;
    border-radius: 15px;
    color: @text-color
}
 
.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: #d79921;
    color: @cc-bg;
}
 
.widget-menubar>box>.menu-button-bar>button {
    border: 3px solid #FABD2F;
    background: transparent
}
 
.topbar-buttons>button {
    border: 3px solid #FABD2F;
    background: transparent
}
 

.widget-menubar>box{
  padding: 8px 0px 4px;
  margin: 0px 8px;
  border-radius: 15px;
  background-color: #282828;
}

.widget-menubar>box>.menu-button-bar>button{
  border: 3px solid #FABD2F;
  background: #282828;
  border-radius: 15px;
  margin: 4px 12px;
}

.widget-buttons-grid{
  padding: 0px 8px 8px;
  margin: 0px 8px 8px;
  border-radius: 0px 0px 4px 4px;
  background-color: #282828;
  font-size: 14px;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  background: #282828;
  border-radius: 15px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: #282828;
}

.IDE-buttons,
.network-buttons,
.screenshot-buttons,
.screencast-buttons,
.powermode-buttons,
.power-buttons{
  border-radius: 15px;
}

.IDE-buttons>button,
.network-buttons>button,
.screenshot-buttons>button,
.screencast-buttons>button,
.powermode-buttons>button,
.power-buttons>button{
  background: transparent;
  padding: 2px 0px;
  margin: 5px 70px 3px;
  border: 3px solid #FABD2F;
}

.network-buttons>button:hover,
.IDE-buttons>button:hover,
.screenshot-buttons>button:hover,
.screencast-buttons>button:hover,
.powermode-buttons>button:hover,
.power-buttons>button:hover{
  background: #282828;
}
 