input {
    keyboard {
        xkb {
          layout "us"
          options "caps:swapescape"
        }
    }
    touchpad {
        off
    }
    mouse {
        accel-speed 0.5
    }
    trackpoint {
        off
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

output "Acer Technologies ED270R S3 15250E4BD3W01" {
    mode "1920x1080@179.998"
    scale 1
    transform "normal"
    position x=1280 y=0
    variable-refresh-rate on-demand=true
    background-color "#282828"

    hot-corners {
      off
    }
}

output "Dell Inc. DELL P2422H DQMDBJ3" {
  off
  mode "1920x1080@60.00"
  scale 1
  transform "normal"
  background-color "#282828"

  hot-corners {
    off
  }
}

cursor {
}

layout {
    gaps 8
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.45; }
    focus-ring {
      on
      width 4
      active-color "#eab676"
      inactive-color "#282828"
      urgent-color "#9b0000"
    }
    border { off; }
    struts {}
}
