window-rule {
  match app-id="studio"
  match app-id="zed"

  open-maximized false
  default-column-width { fixed 1300; }
}

window-rule {
  match title="^Picture-in-Picture$"

  open-floating true
  default-column-width { fixed 480; }
  default-window-height { fixed 270; }
  baba-is-float true
}

window-rule {
  match app-id="vesktop"

  open-focused false
}

window-rule {
  match app-id="smile"
  match app-id="kdenlive"

  open-floating true
}
