configuration {
    show-icons: true;
    font: "FreeSans Regular 12";
    icon-theme: "Gruvbox-Plus-Dark";

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 110;
}


@theme "~/.config/dotfiles/rofi/gruvbox-material.rasi"
