* {
font-family: "montserrat";
font-weight: bold;
min-height: 0;
font-size: 100%;
font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
padding: 1px;
}

window#waybar {
  	background-color: rgba(0, 0, 0, 0);
  	transition-property: background-color;
  	transition-duration: .5s;
}

window#waybar.hidden {
  	opacity: 0.5;
}

window#waybar.empty {
	background-color: transparent;
}

window#waybar.empty #window {
	padding: 0px;
	border: 0px;
	background-color: transparent;
}

tooltip {
	background: #2e281e;
	opacity: 0.8;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #1b1711;
}

tooltip label{
	padding: 10px;
	color: #cdd6f4;
}

#bluetooth,
#clock,
#cpu,
#memory,
#mpris,
#network,
#pulseaudio,
#temperature,
#window,
#workspaces,
#custom-menu,
#custom-swaync{
	border-radius: 5px;
  	color: #de9061;
  	border: 3px solid #251907;
	padding-top: 3px;
	padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}
 
#clock {
	background-color: #5a3618;
}

#mpris {
	background-color: #5a3618;
	color: #de9061;
}

#cpu {
	background-color: #5a3618;
}

#memory {
	background-color: #5a3618;
}

#workspaces button {
  	background-color: #de9061;
	margin: 1px;
  	color: #5a3618;
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
  	background-color: #5a3618;
  	color: #de9061;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
	background-color: #5a3618;
	color: #de9061;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-menu {
	background-color: #5a3618;
	padding-right: 10px;
	border-radius: 5px;
  	color: #de9061;
  	border: 3px solid #251907;
}


#custom-swaync {
	background-color: #5a3618;
}

#temperature {
  	background-color: #5a3618;
}

#temperature.critical {
  background-color: red;
}

#bluetooth {
	background-color: #5a3618;
}
#window {
	background-color: #de9061;
	color: #5a3618;
}

#pulseaudio {
	background-color: #5a3618;
}

#pulseaudio.bluetooth {
	background-color: #5a3618;
}
#pulseaudio.muted {
	background-color: #5a3618;
	color: #cdd6f4;
}

#network {
	background-color: #de9061;
	color: #5a3618;
}
#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}